BASE_URL=https://api-frontend.wallester.com
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36
PRIVATE_KEY_PATH=private.pem
CARD_DATA_PRIVATE_KEY_PATH=wallester_private.pem
API_KEY=replace_with_api_key
3DS_EMAIL=codes@example.com
3DS_PASSWORD=Card3DS2026!
